<div class="molecule-container">
    <div class="molecule">
        <div class="atom core c1"></div>
        <div class="atom core c2"></div>
        <div class="atom core c3"></div>
        <div class="bond core-bond cb1"></div>
        <div class="bond core-bond cb2"></div>
        <div class="atom major ma1"></div>
        <div class="atom major ma2"></div>
        <div class="atom major ma3"></div>
        <div class="atom major ma4"></div>
        <div class="bond major-bond mba1"></div>
        <div class="bond major-bond mba2"></div>
        <div class="bond major-bond mba3"></div>
        <div class="bond major-bond mba4"></div>
        <div class="atom major mb1"></div>
        <div class="atom major mb2"></div>
        <div class="bond major-bond mbb1"></div>
        <div class="bond major-bond mbb2"></div>
        <div class="atom major mc1"></div>
        <div class="atom major mc2"></div>
        <div class="atom major mc3"></div>
        <div class="bond major-bond mbc1"></div>
        <div class="bond major-bond mbc2"></div>
        <div class="bond major-bond mbc3"></div>
        <div class="atom cluster cd1"></div>
        <div class="atom cluster cd2"></div>
        <div class="atom cluster cd3"></div>
        <div class="atom cluster cd4"></div>
        <div class="atom cluster cd5"></div>
        <div class="bond cluster-bond cbd1"></div>
        <div class="bond cluster-bond cbd2"></div>
        <div class="bond cluster-bond cbd3"></div>
        <div class="bond cluster-bond cbd4"></div>
        <div class="bond cluster-bond cbd5"></div>
        <div class="atom secondary sa1"></div>
        <div class="atom secondary sa2"></div>
        <div class="atom secondary sa3"></div>
        <div class="atom secondary sa4"></div>
        <div class="atom secondary sa5"></div>
        <div class="atom secondary sa6"></div>
        <div class="atom secondary sa7"></div>
        <div class="atom secondary sb1"></div>
        <div class="atom secondary sb2"></div>
        <div class="atom secondary sc1"></div>
        <div class="atom secondary sc2"></div>
        <div class="atom secondary sc3"></div>
        <div class="atom secondary sc4"></div>
        <div class="atom tiny t1"></div>
        <div class="atom tiny t2"></div>
        <div class="atom tiny t3"></div>
        <div class="atom tiny t4"></div>
        <div class="atom tiny t5"></div>
        <div class="atom tiny t6"></div>
        <div class="atom tiny t7"></div>
        <div class="atom tiny t8"></div>
        <div class="atom tiny t9"></div>
        <div class="atom tiny t10"></div>
        <div class="atom tiny t11"></div>
        <div class="atom tiny t12"></div>
        <div class="atom ring r1"></div>
        <div class="atom ring r2"></div>
        <div class="atom ring r3"></div>
        <div class="atom ring r4"></div>
        <div class="atom ring r5"></div>
        <div class="electron e1"></div>
        <div class="electron e2"></div>
        <div class="electron e3"></div>
        <div class="electron e4"></div>
    </div>
</div>
